@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@
<html>

<head>

    <title>HTML FORM</title>

</head>

<body>

    <form action="/register" method="post">

        <p> Check yout result</p>

        <input type="number" name="rollno" placeholder="Enter roll no">
        <br />
        <br />

        <input type="submit" value="Submit">

    </form>

</body>

</html>