@model SRMS.Models.Users

@{
    ViewData["Title"] = "Signup";
}


<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card bg-light">
            <div class="card-body">
                <h1 class="text-center">Signup</h1>
                <hr />
                <form asp-action="Signup" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label text-left"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label text-left"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label text-left"></label>
                        <input asp-for="Password" class="form-control" type="password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserType" class="control-label text-left"></label>
                        @Html.DropDownListFor(model => model.UserType, new SelectList(new[] {"Teacher", "Student"}), "Select role", new{@class= "form-control"})
                        <span asp-validation-for="UserType" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group text-center">
                        <input type="submit" value="Sign Up" class="btn btn-primary" />
                    </div>
                </form>
                <div class="text-center">
                    <a asp-action="Index">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
